$base: #263238;
$lite:  #FFF;
$brand: #FF3D00;
$size: 48px;

*, *:after, *:before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $base;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brand;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}




.loader-113{
  color: $lite;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $size;
  letter-spacing: 4px;
  &::before {
    content: '';
    position: absolute;
    right: 70px;
    bottom: 10px;
    height: 28px;
    width: 5.15px;
    background: currentColor;
    animation: animloader113L 1s linear infinite alternate;
  }
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: red;
    animation: animloader113 1s linear infinite alternate;
  }
}






@keyframes animloader113 {
  0%  { transform: translate(0px, 0px) scaleX(1) }
  14%  { transform: translate(-12px, -16px) scaleX(1.05) }
  28%  { transform: translate(-27px, -28px) scaleX(1.07) }
  42%  { transform: translate(-46px, -35px) scaleX(1.1) }
  57%  { transform: translate(-70px, -37px) scaleX(1.1) }
  71%  { transform: translate(-94px, -32px) scaleX(1.07) }
  85%  { transform: translate(-111px, -22px) scaleX(1.05) }
  100%  { transform: translate(-125px, -9px) scaleX(1) }
}

@keyframes animloader113L {
  0%   { box-shadow: 0 -6px, -122.9px -8px}
  25%, 75%  { box-shadow: 0 0, -122.9px -8px}
  100%   { box-shadow: 0 0, -122.9px -16px}
}
