.signupForm {
  margin: 20px auto;
  padding: 20px;
  width: 100%;

  button {
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: bold;
    &:hover, &:active{
      background-color: #641e03;
      border-color: #641e03;
    }
    &:disabled {
      background: #eee;
      color: #999;
      box-shadow: none;
    }
  }

}

.signupForm h1 {
  margin: 0 0 20px;
  text-align: center;
}

