@mixin hoverActive {
  background-color: #5a1a01 !important;
  border-color: #5a1a01 !important;
  color: white !important;
}

.order-modal-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-size: 20px;
  &:hover, &:active{
    @include hoverActive
  }
}
.close {
  background-color: #fff !important;
  color: #5a1a01 !important;
  border-color: #5a1a01;
  &:hover, &:active{
    @include hoverActive
  }
}
.actions {
  text-align: right;

}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.no-data {
  font-size: 2rem;
  color: coral;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}